body{
  padding: 0;
  margin: 0;
}
input, button{
  border: 1px solid #e9e8e8;
  border-radius: 0px;
  outline: none;
}
i{
  color: rgb(107, 107, 107);
}

.container{
  width: 100%;
  background-color: #F0F0F0;
}
.header-content{
  padding: 15px 35px;
  display: flex;
  background-color: white;
  justify-content: space-between;
}
.logo{
  display: table;
  margin-top: 4px;
}

.logo i{
  vertical-align: middle;
  font-size: 22px;
}
.logo svg{
  width: 100px;
  vertical-align: middle;
  margin-left: 20px;
}

.search-bar{
  display: table;
}

.search-bar input{
  height: 30px;
  width: 400px;
  padding-left: 15px;
  vertical-align: middle;
}
.search-bar button{
 background-color: #F0F0F0; 
 padding: 6.5px 15px;
 vertical-align: middle;
}
.search-bar button i{
  font-size: 18px;
}

.profile-icons{
  display: table;
}

.profile-icons i{
  vertical-align: middle;
  margin-left: 30px;
  font-size: 18px;
}
.profile-icons img{
  border-radius: 50%;
  margin-left: 30px;
  height: 35px;
  vertical-align: middle;
  width: 35px; 
  object-fit: cover; 
}

.video-content{
display:grid;
grid-template-columns: 65% 35%;
}
.main-video{
  width: 100%;
  padding: 20px 50px;
}
.main-video video{
  width: 100%;
}
.main-video-info{
  display:flex;
  justify-content: space-between;
}
.main-video-title{
  padding: 10px 0;
  font-size:14px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-video-views{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(117, 117, 117);
  font-size: 13px;
}

.main-video-likes i{
  vertical-align: middle;
  font-size: 17px;
}
.main-video-likes label{
  vertical-align: middle;
  padding: 20px 8px;
}

.like,.dislike{
  border-bottom: 3px solid rgb(151, 151, 151);
}

.main-video-likes span{
  color:gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.main-video-likes .share, .save, .more{
  margin-left: 10px;
}

.channel-info{
  border-top: 1px solid grey;
  margin-top: 20px;
}
.channel-profile-info{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.channel-profile-info .profile{
  display: flex;
}

.channel-profile-info .profile img{ 
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.channel-profile-info .profile p{
  margin:0;
}
.channel-profile-info .profile label{
  margin: 8px 0 0 10px;
}
.channel-profile-info .profile p:nth-of-type(1){
  font-weight: 600;
}
.channel-profile-info .profile p:nth-of-type(2){
  font-weight: 300;
  color: rgb(94, 94, 94);
}
.channel-btn button{
  font-size: 15px;
  background-color: #CC0000;
  color: white;
  padding: 10px 10px ;
  border-radius: 3px;
}

.video-desc{
  padding: 5px 130px 0 70px;
}
.video-desc p{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
}
.video-desc label{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 50px 0;
  cursor: pointer;
}